certifi==2019.9.11
chardet==3.0.4
Click==7.0
DateTime==4.3
django-environ==0.4.5
docutils==0.15.2
Flask==1.1.1
Flask-Limiter==1.1.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.0
MarkupSafe==1.1.1
numpy==1.17.2
pandas==0.25.3
psycopg2-binary==2.8.4
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
s3transfer==0.2.1
six==1.13.0
urllib3==1.25.6
virtualenv==16.7.6
Werkzeug==0.16.0
zope.interface==4.7.1
