{% extends "public/templates/public_template.html" %}

{% block title %}Recommendation Result!{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">

             <head>
                <meta charset="UTF-8">
            </head>
                <body>

                    {% for table in tables %}
                    {{[loop.index]}}
                    {{ table|safe }}
                    {% endfor %}
                </body>
            <br>
            <p>Arbitrage predictions not available between 7pm - 5am PST</p>
            <br>
            <img src="https://github.com/Cryptolytic-app/cryptolyticapp/blob/master/assets/coinbase_pro_gemini_bch_btc.png?raw=true"
     alt="crypto" style="width:80%;">
            <br><br>
        </div>
    </div>
</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
                <style>
                table {
                  border-collapse: collapse;
                  border-spacing: 0;
                  width: 100%;
                  border: 1px solid #ddd;
                }

                th, td {
                  text-align: left;
                  padding: 16px;
                }

                tr:nth-child(even) {
                  background-color: #f2f2f2;
                }
                </style>

{% endblock %}